# GaaS Backend Configurations

# CORS settings - list of allowed origins (separated by commas)
CORS_ORIGINS=http://localhost:3000

# Supabase Auth configuration
# You can find the JWT Secret in Supabase dashboard under Settings > API > JWT Settings > JWT Secret.
SUPABASE_JWT_SECRET=your-supabase-jwt-secret-here
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_ANON_KEY=your-supabase-anon-key-here

# Server Settings
HOST=0.0.0.0
PORT=8000
DEBUG=true
